<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
                   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" >
	 <link th:href="@{/css/new.css}" rel="stylesheet" >
    <title>Administração</title>
</head>
<body>
	<div th:substituteby="index::logout"></div>
	<hr>
	<div class="container">
		<h1>AREA DO ADMINISTRADOR</h1>
		<p><a th:href="@{/relatorios/todasalteracoes}">Relatório de registro de alterações</a></p>
	<h2 th:if="${mensagem != '' and mensagem != null}" th:text="${mensagem}">Mensagem</h2>
		<a href="#" th:href="@{/}">Voltar para página principal</a>
	<div class="mb-3 mt-3">
		<form action="#" th:action="@{/Usuario}" method="get">
		<input type="submit" value="Inserir Usuario">
		</form>
		<table>
		
			<tbody>
				<tr>
				<th>CODIGO</th>
			    <th>NOME</th>
			    <th>ATIVO</th>
			    <th>REMOVER</th>
			    <th>EDITAR</th>
  			</tr>
  			<tr th:each="user : ${todosUsuarios}">
  				<td th:text="${user.id}"></td>
  				<td th:text="${user.nome}"></td>
  				<td th:text="${user.ativo}"></td>
  				<td><form th:action="@{/removerUsuario}" method="POST">
  					<input type="hidden" name="id" th:value="${user.id}"/>
  					<button type="submit" class="btn btn-danger">Remover</button>
  				</form></td>
  				<td><form th:action="@{/editarUsuario}" method="POST">
  					<input type="hidden" name="id" th:value="${user.id}"/>
  					<button type="submit" value="Editar" class="btn btn-warning">Editar</button>
  				</form></td>
  			</tr>
			</tbody>
		</table>
	</div>
	
	<div class="mb-3">
	<form action="#" th:action="@{/newDispositivo}" method="get">
		<input type="submit" value="Inserir Dispositivo">
	</form>
		<table>
			<tbody>
				<tr>
					<th>USUARIO</th>
					<th>NOME</th>
					<th>STATUS</th>
					<th>ENDERECO</th>
					<th>REMOVER</th>
					<th>EDITAR</th>
				</tr>
				<tr th:each="disp:${todosDispositivos}">
					<td th:text="${disp.usuario.nome}"></td>
					<td th:text="${disp.nome}"></td>
					<td th:text="${disp.status}"></td>
					<td th:text="${disp.endereco}"></td>
					<td><form th:action="@{/removerDispositivo}" method="POST">
  					<input type="hidden" name="iddispositivo" th:value="${disp.id}"/>
  					<button type="submit" value="Remover" class="btn btn-danger">Remover</button>
  					</form></td>
  					<td><form th:action="@{/editarDispositivo}" method="POST">
  					<input type="hidden" name="id" th:value="${disp.id}"/>
  					<button type="submit" value="Editar" class="btn btn-warning">Editar</button>
  					</form></td>
				</tr>
			</tbody>
		</table>
	</div>

	
	<div class="">
	<h4>Registro de alterações</h4>
		<table>
			<tbody>
				<tr>
					<th>USUARIO</th>
					<th>DISPOSITIVO</th>
					<th>ALTERAÇÃO</th>
					<th>DATA</th>
				</tr>
				<tr th:each="alt:${todasAlteracoes}">
					<td th:text="${alt.dispositivo.usuario.nome}"></td>
					<td th:text="${alt.dispositivo.nome}"></td>
					<td th:text="${alt.descricao}"></td>
					<td th:text="${alt.data}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	

	</div>
</body>
</html>