<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
                   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" >
	 <link th:href="@{/css/new.css}" rel="stylesheet" >
    <title>Editar Dispositivo</title>
</head>
<body>

	<div th:substituteby="index::logout"></div>
	<br>
	<br>
	<h1>Edição de dispositivos</h1>
	<div class="container p-3">
		<form action="#" th:action="@{/dispositivoEditado}" th:object="${dispositivo}" method="POST" class="pf p-3">
			<input type="hidden" name="id" th:field="*{id}"></input>
			<span>Usuario: </span>
			<input type="text" name="usuario" th:field="*{usuario}" th:errorclass="input-erro"></input>
			<span class="texto-erro" th:if="${#fields.hasErrors('usuario')}" th:each="erro : ${#fields.errors('usuario')}" th:text="${erro} + '. '">Erro no usuario</span>
			<span>Nome: </span>
			<input type="text" name="nome" th:field="*{nome}" th:errorclass="input-erro"></input>
			<span class="texto-erro" th:if="${#fields.hasErrors('nome')}" th:each="erro : ${#fields.errors('nome')}" th:text="${erro} + '. '">Erro no nome</span>
			<span>Status: </span>
			<input type="text" name="status" th:field="*{status}" th:errorclass="input-erro"></input>
			<span class="texto-erro" th:if="${#fields.hasErrors('status')}" th:each="erro : ${#fields.errors('status')}" th:text="${erro} + '. '">Erro no status</span>
			<span>Endereço: </span>
			<input type="text" name="endereco" th:field="*{endereco}" th:errorclass="input-erro"></input>
			<span class="texto-erro" th:if="${#fields.hasErrors('endereco')}" th:each="erro : ${#fields.errors('endereco')}" th:text="${erro} + '. '">Erro no endereco</span>
			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
	</div><br>
	<hr>
	<a href="#" th:href="@{/}">Voltar para página principal</a>
</body>
</html>